<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- SQL 문 목록 
namespace 속성
- SQL 문을 가리킬 때 사용할 그룹명이다.
- 보통 SQL을 사용하는 객체 이름으로 설정한다.
- 즉 DAO 인터페이스 또는 클래스명으로 설정한다.
- 그래야만 유지보수할 때 DAO와 연결된 SQL을 바로 찾을 수 있다.

-->
<mapper namespace="BoardDao">
  <resultMap type="com.eomcs.pms.domain.Board" id="BoardMap">
  <id column="no"                     property="no"/>
  <result column="title"              property="title"/>
  <result column="content"            property="content"/>
  <result column="cdt"                property="registeredDate"/>
  <result column="vw_cnt"             property="viewCount"/>
  
  <association property="writer" javaType="com.eomcs.pms.domain.Member">
  <id column="writer_no"              property="no"/>
  <result column="name"               property="name"/>
  </association>
  </resultMap>

<select id="findAll" resultMap="BoardMap">
select
  b.no,
  b.title, 
  b.cdt, 
  b.vw_cnt, 
  m.no writer_no, 
  m.name
from
  pms_board b 
  inner join pms_member m on b.writer=m.no
order by 
  b.no desc

</select>

<select id="findByNo" parameterType="java.lang.Integer" resultMap="BoardMap">
select
  b.no,
  b.title,
  b.content,
  b.cdt,
  b.vw_cnt,
  m.no writer_no,
  m.name
from
pms_board b
inner join pms_member m
on b.writer=m.no
where b.no=#{no}
</select>

<update id="updateViewCount" parameterType="java.lang.Integer">
update pms_board set
vw_cnt = vw_cnt + 1
</update>

<delete id="delete" parameterType="java.lang.Integer">
delete from pms_board where no=#{no}
</delete>

<insert id="insert" parameterType="com.eomcs.pms.doamin.Board">
insert into pms_board(title,content,writer) values(#{title},#{content},#{writer})
</insert>
</mapper>






